* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.nuzz{
    color: #fd6e01;
}

.aw{
    color: #fd6e01;
}

ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 12px 0px;
}

nav ul li a{
    text-decoration: none;
}

.common-btn{
    background-color: #fd6e01;
    padding: 15px;
    border-radius: 15px;
    font-weight: bold;
    font-size: 18px;
    border: none;
    color: white;
    cursor: pointer;
}

.outline-btn{
    background-color: white;
    padding: 15px;
    border-radius: 15px;
    font-weight: bold;
    font-size: 18px;
    border: 1px solid #fd6e01;
    color: #fd6e01;
    cursor: pointer;
}

.container{
    max-width: 1200px;
    margin: auto;
}

/* hero section start */

.hero-parent-root{
    background-color:#fff8f3;
}

.hero-parent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff8f3;
}
.hero-left h2{
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 12px;
}

.hero-left-p-1{
    font-size: 25px;
    font-weight: 600;
}

.hero-left-button{
    margin-top: 12px;
}

/* about me */
.about-me{
    background-color: #fff8f3;
    margin: 70px auto;
    border-radius: 10px;
    padding: 70px;
    text-align: center;
}

.about-me p{
    margin: 10px 0px;
}

.about-me-box{
    display: flex;
    justify-content: space-between;
    gap: 8px;
}

.what-i-do{
    margin: 60px auto;
    text-align: center;
    padding: 10px;
}

.what-i-do  h2{
    font-size: 36px;
    margin-bottom: 20px;
}

.what-i-do  p{
    max-width: 800px;
    margin: 0 auto 50px;
    color: #757575;
    line-height: 1.6;
}

.what-i-do-card-container{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.what-i-do-card-container .what-i-do-card{
    box-shadow: 0 5px 20px rgb(0, 0, 0, .08);
    border-radius: 10px;
    padding: 40px;
    text-align: left;
}

.what-i-do-card-container .what-i-do-card:hover{
    transform: translateY(-8px);
    transition: .3s;
}

.what-i-do-card-container .what-i-do-card h2{
    margin: 10px 0px;
}

.what-i-do-card-container .what-i-do-card p{
    color: #757575;
    font-size: 15px;
    padding-bottom: 10px;
}

/* Resume */

.resume{
    margin: 100px auto;
}

.resume-title{
    text-align: center;
    font-size: 36px;
    margin-bottom: 60px;
}

.resume-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
}

.resume-column h3{
    font-size: 28px;
    margin-bottom: 25px;
    color: #474747;
}

.resume-item{
    padding: 0 0 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #d1d1d1;
}

.resume-item:last-child{
    border: none;
}

.resume-item h4{
    font-size: 24px;
    color: #474747;
    margin-bottom: 10px;
}

.resume-item h5{
    font-size: 18px;
    color: #757575;
    margin-bottom: 20px;
}

.resume-item p{
    color: #757575;
    line-height: 1.8;
}

.resume-btn{
    text-align:center;
    margin-top: 40px;
}

/* My Amazing Work */

.my-amazing-work-title{
    font-size: 36px;
}

.my-amazing-work-parent{
    text-align: center;
}

.gallery{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 50px;
    gap: 15px;
    grid-auto-rows: 250px;
    grid-template-areas:
    "one two three"
    "four two six"
    "four five six";
}

.gallery img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.img1{
    grid-area: one;
}
.img2{
    grid-area: two;
}
.img3{
    grid-area: three;
}
.img4{
    grid-area: four;
}
.img5{
    grid-area: five;
}
.img6{
    grid-area: six;
}

/* Footer */

.footer-section{
    background-color: #fff8f3;
    margin-top: 100px;
    padding: 100px 0px;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    gap: 100px;
}

/* Left */

.footer-left{
    flex: 1;
}

.footer-left h2{
    font-size: 40px;
    margin-bottom: 25px;
}

.footer-left p{
    line-height: 1.8;
    max-width: 430px;
    margin-bottom: 30px;
}

.social-icons{
    display: flex;
    gap: 20px;
}

.social-icons a{
    color: #fd6e01;
    font-size: 25px;
    transition: .3s;
}

.social-icons a:hover{
    transform: translateY(-4px);
}

/* Right */

.footer-right{
    flex: 1;
}

.footer-right h2{
    font-size: 40px;
    margin-bottom: 25px;
}

.footer-right form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-right input,textarea{
    width: 100%;
    padding: 18px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    resize: none;
    box-sizing: border-box;
}

.footer-right button{
    width: 150px;
    border-radius: 10px;
}